.logo {
  text-align: center;
  padding:px 20px;
  background: background-color: white;
  color: black;
}

.headline {
  text-align: center;
  padding:10px 20px;
  background: background-color: white;
  color: black;
  text-shadow: 50px 30px 4px grey;
}

.nav {
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    height: 100%;
    gap: 20px;
}
.hero {
    text-align: center;
    padding: 100px 20px;
    background: linear-gradient(to right, #0066cc, #3399ff);
    color: white;
  }
  
  .hero .btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 25px;
    background-color: white;
    color: #0066cc;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
  }
  